<!-- this is my index page -->

<!-- header  -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Perry Sound</h1>
      <p>Our biosphere encompasses the eastern coast of Georgian Bay and stretches approximately 175 kilometres from the Severn River to the French River. This part of Lake Huron contains the largest collection of freshwater islands in the world.<br/>

The Georgian Bay Biosphere is a UNESCO biosphere and is situated within the Robinson-Huron Treaty of 1850 and Williams Treaty of 1923, and located on Anishinabek territory.  We are grateful to work with First Nation communities and all Indigenous people in this area and acknowledge their ancestors as caretakers of the air, land, and water. We support the United Nations Declaration on the Rights of Indigenous Peoples in this territory and work towards respectful and reciprocal relationships.</p>
    </div>
  
    <div class="col-12 col-md-6">
      <img src="./images/map.png" />
    </div>
  </div>
   </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="aside">
      <div class="btn-group">
        <button class="corporate">Corporate</button>
        <button class="community">Community</button>
        <button class="business">Business Forcasts</button>
        <button class="Total">Total C02</button>
      </div>

    </div>

  </div>

  <div class="col-8">
    <div class="tabs">
      <input type="radio" name="tabs" id="tabone" checked="checked" />
      <label for="tabone">Tab One</label>
      <div class="tab">
        <div class="data">
          <h1>Tab One Content</h1>
          <h1>Pie Chart</h1>
          <div id="pie-chart"></div>
        </div>

        <div class="data1">
          <h1>Tab One Content</h1>
          <h1>Pie Chart</h1>
          <div id="pie-chart"></div>

        </div>
      </div>

      <input type="radio" name="tabs" id="tabtwo" />
      <label for="tabtwo">Tab Two</label>
      <div class="tab">
        <h1>Tab Two Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <input type="radio" name="tabs" id="tabthree" />
      <label for="tabthree">Tab 3</label>
      <div class="tab">
        <h1>Tab Three Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <input type="radio" name="tabs" id="tabtfour" />
      <label for="tabtfour">Tab 4</label>
      <div class="tab">
        <h1>Tab Four Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <input type="radio" name="tabs" id="tabtfive" />
      <label for="tabtfive">Tab 5</label>
      <div class="tab">
        <h1>Tab Five Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

  </div>

</div>

<script>

</script>