        <!-- this is my index page -->

  <!-- header  -->

<div class="container-fluid header" id="header">
    <div class="row">
        <side>
      <img class="logo" src="/images/map.png" alt="map" >
      </side>
      </div>
</div>

 